@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
  font-family: "Montserrat", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 0, 0, 0.3);
  font-size: 1.5rem;
}

#title {
  font-family: "Encode Sans SC", sans-serif;
  font-size: 4rem;
}
