@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --size-grid-container: 600px;
  --dim: 16;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
  font-family: "Montserrat", sans-serif;
}

#header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.9rem;
  background-color: rgba(255, 0, 0, 0.3);
  font-size: 1.4rem;
}

#title {
  font-family: "Encode Sans SC", sans-serif;
  font-size: 3.8rem;
  white-space: pre;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem 1rem;
}

.dimensions-label {
  font-size: 1.3rem;
}

.button {
  width: 100px;
  height: 50px;
  margin: 1rem;
  font-size: 1.8rem;
}

#container {
  width: var(--size-grid-container);
  height: var(--size-grid-container);
  margin: 2rem auto;
}

.grid-square {
  width: calc(var(--size-grid-container) / var(--dim));
  height: calc(var(--size-grid-container) / var(--dim));
  border: 1px solid black;
}

.grid-row {
  height: calc((var(--size-grid-container) / var(--dim)));
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

@media screen and (min-width: 475px) {
  html {
    font-size: 63%;
  }
  .button {
    width: 150px;
  }
}
@media screen and (min-width: 900px) {
  html {
    font-size: 65%;
  }
}
